{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Auditorias</h1>
    </div>
    <form method="get" >
        <input type="hidden" name="page" value="{{ request.GET.page }}"/>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <div class="col-6 d-flex">
                    <div class="col-auto me-2">
                      <select name="acao" id="id_acao" class="form-select form-select-sm" aria-label="Default select example">
                        <option value="">Selecione Ação</option>
                        {% for acao in acoes %}
                          <option value="{{ acao.0 }}" {% if acao.0 == request.GET.acao %} selected {% endif %}>{{ acao.1 }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-auto me-2">
                      <select name="usuario" id="id_usuario" class="form-select form-select-sm" aria-label="Default select example">
                        <option value="">Selecione Usuário</option>
                        {% for usuario in usuarios %}
                          <option value="{{ usuario.email }}" {% if usuario.email == request.GET.usuario %} selected {% endif %}>{{ usuario.email }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-auto me-2">
                      <select name="motivo" id="id_motivo" class="form-select form-select-sm" aria-label="Default select example">
                        <option value="">Selecione Motivo</option>
                        {% for motivo in motivos_exclusao %}
                          <option value="{{ motivo.pk }}" {% if motivo.pk|stringformat:"s" == request.GET.motivo %} selected {% endif %}>{{ motivo.descricao }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-auto me-2">
                        <label for="id_data_ini" class="col-form-label">Data:</label>
                    </div>
                    <div class="col-auto me-2">
                        <input name="data_ini" type="date" id="id_data_ini" class="form-control form-control-sm py-0" placeholder="Início" value="{{ request.GET.data_ini }}" />
                    </div>
                    <div class="col-auto me-2">
                        <label for="id_data_end" class="col-form-label">até</label>
                    </div>
                    <div class="col-auto me-2">
                        <input name="data_end" type="date" id="id_data_end" class="form-control form-control-sm py-0" placeholder="Fim"  value="{{ request.GET.data_end }}" />
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-sm btn-secondary">
                            <i class="fa-solid fa-filter"></i> Filtrar
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </form>
    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ação</th>
                    <th scope="col">Usuário</th>
                    <th scope="col">Motivo</th>
                    <th scope="col">Registro</th>
                    <th scope="col">Data</th>
                </tr>
            </thead>
            <tbody>
                {% for auditoria in page_obj %}
                    <tr>
                        <td>{{ auditoria.id }}</td>
                        <td>{{ auditoria.acao }}</td>
                        <td>{{ auditoria.usuario }}</td>
                        <td>{{ auditoria.motivo }}</td>
                        <td>{{ auditoria.registro|safe }}</td>
                        <td>{{ auditoria.created_at|date:'d/m/Y' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination pagination-sm justify-content-end">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">
                        <i class="fa-solid fa-angles-left"></i>
                    </a>
                </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                            <i class="fa-solid fa-chevron-left"></i>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">
                            <i class="fa-solid fa-angles-left"></i>
                        </a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link">
                            <i class="fa-solid fa-chevron-left"></i>
                        </a>
                    </li>
                {% endif %}
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                {% endif %}
                <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                    </li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link">
                            <i class="fa-solid fa-angles-right"></i>
                        </a>
                    </li>
                {% endif %}
                </li>
            </ul>
        </nav>
    </div>

{% endblock content %}