{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Categorias</h1>
    </div>
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary btn-sm" href="{% url 'incluir_categoria' %}">
            <i class="fa-solid fa-plus"></i> Incluir
        </a>
    </div>
    <div class="table-responsive small">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Tipo Lançamento</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in object_list %}
                    <tr>
                        <td>{{ categoria.id }}</td>
                        <td>{{ categoria.categoria }}</td>
                        <td>{{ categoria.tipo_lancamento }}</td>
                        <td>
                            <a class="btn btn-outline-secondary btn-sm" href="{% url 'editar_categoria' categoria.pk %}">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a class="btn btn-outline-danger btn-sm" href="{% url 'deletar_categoria' categoria.pk %}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}