{% extends 'base.html' %}

{% load static %}


{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">DRE</h1>
    </div>
    <div class="table-responsive small">
        <div class="btn-group btn-group-sm mb-3" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="competencia" id="competencia1" autocomplete="off" value="data_emissao" {% if not request.GET.competencia or request.GET.competencia == "data_emissao" %} checked {% endif %}>
          <label class="btn btn-outline-secondary" for="competencia1">Competência</label>
        
          <input type="radio" class="btn-check" name="competencia" id="competencia2" autocomplete="off" value="data_pagamento" {% if request.GET.competencia == "data_pagamento" %} checked {% endif %}>
          <label class="btn btn-outline-secondary" for="competencia2">Caixa</label>
        
          <input type="radio" class="btn-check" name="competencia" id="competencia3" autocomplete="off" value="data_vencimento" {% if request.GET.competencia == "data_vencimento" %} checked {% endif %}>
          <label class="btn btn-outline-secondary" for="competencia3">Projetada</label>
        </div>
        <table class="table table-sm">
          <thead class="table-dark">
            <tr>
              <th class="align-top" scope="col" rowspan="2">Demonstrativo de Resultados Gerencial</th>
              {% for column in data.header %}
                <th scope="col" colspan="3">{{ column.sub_title }}</th>
              {% endfor %}
            </tr>
            <tr>
              {% for column in data.header %}
                <th scope="col">{{ column.title }}</th>
                <th scope="col">AV</th>
                {% if not forloop.first %}
                  <th scope="col">AH</th>
                {% endif %}
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in data.rows %}
              {% with indicador_id=row.indicador|slugify %}
                <tr class="table-secondary accordion-toggle">
                  <td scope="col">
                    {% if row.tipo_lancamentos %}
                      <button class="btn btn-sm me-2" data-bs-toggle="collapse" data-bs-target=".{{ indicador_id }}" aria-expanded="false" aria-controls="{{ indicador_id }}">
                        <i class="bi bi-chevron-down toggle-icon"></i>
                      </button>  
                      {{ row.indicador }}
                    {% else %}
                      <span class="ms-5">{{ row.indicador }}</span>
                    {% endif %}
                  </td>
                  {% for column in row.meses %}
                    <td scope="col" class="{% if column.valor < 0 %} text-danger {% else%} text-primary-emphasis {% endif%}">{{ column.valor }}</td>
                    <td scope="col" class="{% if column.av < 0 %} text-danger {% else%} text-primary-emphasis {% endif%}">{{ column.av }}</td>
                    {% if not forloop.first %}
                      <td scope="col" class="{% if column.ah < 0 %} text-danger {% else%} text-primary-emphasis {% endif%}">{{ column.ah }}</td>
                    {% endif %}
                  {% endfor %}
                </tr>
                {% for row in row.tipo_lancamentos %}
                  <tr class="{{ indicador_id }} collapse">
                    <td scope="col" class="ps-3">{{ row.tipo_lancamento }}</td>
                    {% for column in row.meses %}
                      <td scope="col" class="{% if column.valor < 0 %} text-danger {% else%} text-primary-emphasis {% endif%}">{{ column.valor }}</td>
                      <td scope="col" class="{% if column.av < 0 %} text-danger {% else%} text-primary-emphasis {% endif%}">{{ column.av }}</td>
                      {% if not forloop.first %}
                        <td scope="col" class="{% if column.ah < 0 %} text-danger {% else%} text-primary-emphasis {% endif%}">{{ column.ah }}</td>
                      {% endif %}
                    {% endfor %}
                  </tr>
                {% endfor %}
              {% endwith %}
            {% endfor %}
          </tbody>
        </table>
    </div>

{% endblock content %}

{% block js %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll(".accordion-toggle .btn").forEach(function (btn) {
        btn.addEventListener("click", function () {
          const icon = this.querySelector(".toggle-icon");
          
          if (this.getAttribute("aria-expanded") === "true") {
            icon.classList.remove("bi-chevron-down");
            icon.classList.add("bi-chevron-up");
          } else {
            icon.classList.remove("bi-chevron-up");
            icon.classList.add("bi-chevron-down");
          }
        });
    });
    document.querySelectorAll('input[name="competencia"]').forEach(function (radio) {
      radio.addEventListener("change", function () {
        if(this.checked) {
          window.location.href = `${window.location.origin}/dre/?competencia=${this.value}`;
        }
      })
    });
  });
</script>
{% endblock js %}