{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">DRE</h1>
    </div>

    <div class="table-responsive small">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Ano</th>
              <th scope="col" colspan="8">2024</th>
            </tr>
            <tr>
                <th scope="col">Trimestre</th>
                <th scope="col" colspan="4">Trim 1</th>
                <th scope="col" colspan="4">Trim 2</th>
            </tr>
            <tr>
                <th scope="col">Indicador</th>
                <th scope="col">Janeiro</th>
                <th scope="col">Fevereiro</th>
                <th scope="col">Março</th>
                <th scope="col">Total</th>
                <th scope="col">Abril</th>
                <th scope="col">Maio</th>
                <th scope="col">Junho</th>
                <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b>+ FATURAMENTO BRUTO</b></td>
              <td>0,00</td>
              <td>0,00</td>
              <td>0,00</td>
              <td>0,00</td>
              <td>0,00</td>
              <td>0,00</td>
              <td>0,00</td>
              <td>0,00</td>
            </tr>
            <tr>
              <td><b>+ CUSTOS VARIAVEIS</b></td>
              <td>0,00</td>
              <td>0,00</td>
              <td>0,00</td>
              <td>0,00</td>
              <td>0,00</td>
              <td>0,00</td>
              <td>0,00</td>
              <td>0,00</td>
            </tr>
            <tr>
              <td><b>+ DESPESAS OPERACIONAIS</b></td>
              <td>0,00</td>
              <td>0,00</td>
              <td>0,00</td>
              <td>0,00</td>
              <td>0,00</td>
              <td>0,00</td>
              <td>0,00</td>
              <td>0,00</td>
            </tr>
          </tbody>
        </table>
    </div>

{% endblock content %}